 <html>
<head>
<style>
h1 {
    text-align: center;
}
h3 {
    text-align: center;
}
h5 {
    text-align: center;
}
</style>
<h1><u>What's the Occassion?</u></h1>
<h3>Come and become the star of the day!!!!<h3>
<script>
function male()
{
document.getElementById("shrenik").disabled = true;
document.getElementById("shrenik2").disabled = true;
}
function female()
{
document.getElementById("shrenik").disabled = false;
document.getElementById("shrenik2").disabled = false;
}

</script>
</head>
<body  background="https://researchweb.iiit.ac.in/~chugh.ishani/pic1.jpg">

<h2>Kindly fill the below details to get quick and best results:-</h2>
 <form action="/hello" method="POST">
  First name:<br>
  <input type="text" name="firstname"><br>
  Last name:<br>
  <input type="text" name="lastname"><br>
  email id:<br>
  <input type="text" name="email id"><br>
  Age:<br>
  <input type="text" name="age"><br>
  height:<br>
  <input type="text" name="height"><br>


gender:<br>
  <input type="radio" name="gender" value="male" onclick="male()"> Male<br>
  <input type="radio" name="gender" value="female" onclick="female()"> Female<br>
waist<br>
 <input type="text" name="waist" id="shrenik1"><br>
chest<br>
 <input type="text" name="chest" id="shrenik"><br>
 hip <br>
 <input type="text" name="hip" id="shrenik2"><br>

 style:<br>  
<input type="radio" name="style" value="indian" checked> indian<br>
  <input type="radio" name="style" value="western"> western<br>
  <input type="radio" name="style" value="both"> both
  occassion:<br>
  <input type="text" name="firstname"><br><br>
  <input type="submit" value="Submit">
</form>
</body>
</html>
